@mixin sidebar-link {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    text-decoration: none;
    color: $color-value-grey-high;
    cursor: pointer;

    // font-family: "IBM Plex Sans";
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8rem;

    width: 100%;
    margin-bottom: 2.5rem;

    padding-left: 1.5rem;

    transition: color 0.15s ease-in-out;

    svg {
        height: 1.4rem;
        width: 1.4rem;
        margin-right: 1rem;
        fill: $color-value-grey-high;

        transition: fill 0.15s ease-in-out;
    }

    &:last-child {
        margin-top: auto;
        margin-bottom: 1.5rem;
    }
}

.custom-sidebar {

    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    top: 0;
    box-sizing: border-box;
    // padding: 3rem 0 2rem 1.5rem;

    position: fixed;
    min-width: 13rem;
    width: min-content;
    height: 100%;
    background-color: $color-value-1;
    box-shadow: 0 0 10px $color-shadow;

    // font-family: "IBM Plex Sans";

    &-user {

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 3rem;
        padding: 1.5rem 0 1.5rem 1.5rem;
        width: 100%;
        box-sizing: border-box;
        background-color: $color-value-2;
        box-shadow: 0 0 10px $color-shadow;

        &-avatar {
            box-sizing: border-box;
            min-width: 2rem;
            min-height: 2rem;
            background-size: cover;
            border-radius: 50%;
            background-position: top center;
        }

        &-info {
            font-size: 0.75rem;
            max-width: 100%;
            font-weight: 600;
            margin-left: 0.5rem;
            color: $color-value-sec;
        }
    }

    &-link {
        @include sidebar-link;

        &:hover {
            color: $color-value-grey-low;

            svg {
                fill: $color-value-grey-low;
            }
        }

        &-active {
            @include sidebar-link;
            color: $color-main;

            svg {
                fill: $color-main;
            }

            &:after {
                content: "";
                position: absolute;
                right: 0;
                width: 3px;
                height: 1.75rem;
                background-color: $color-main;
                border-radius: 2px 0 0 2px;
            }
        }
    }
}