.custom-user-team {
    display: flex;
    margin-left: 13rem;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;

    &-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        padding: 3rem;

        .custom-user-settings-body {
            margin-bottom: 3rem;
        }
    }

    &-topbar {
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        margin-bottom: 2.5rem;
    
        &-title {
            font-size: 1.75rem;
            font-weight: 600;
            color: $color-value-sec;
        }

        .custom-icons-plus {
            margin-right: 1rem;
        }
    }

    &-block {
        width: 100%;
        margin-bottom: 2rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        background-color: $color-value-1;
        border-radius: 4px;
        box-shadow: 0 0 10px $color-shadow;
        box-sizing: border-box;

        padding: 2rem;

        &-title {
            width: 100%;
            font-weight: 400;
            margin-bottom: 0.5rem;
            color: $color-main;
            font-size: 1.25rem;
            text-decoration: none;
            align-self: flex-start;
            margin-bottom: 1.25rem;
            display: flex;
            flex-direction: row;
            justify-items: flex-start;
            align-items: center;

            .custom-icons-plus {
                margin-left: auto;
                margin-right: 1rem;
            }
        }

        hr {
            margin-bottom: 1rem;
            width: 100%;
            border: none;
            border-bottom: 1px solid $color-value-grey-low;
        }

        &-body {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            width: 100%;
            margin-top: 0.5rem;

            &-link {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;

                text-decoration: none;
                color: $color-value-grey-high;
                cursor: pointer;

                // font-family: "IBM Plex Sans";
                // text-transform: uppercase;
                font-weight: 600;
                font-size: 0.8rem;

                // width: 100%;
                // margin-bottom: 2.5rem;

                // padding-left: 1.5rem;

                transition: color 0.15s ease-in-out;

                svg {
                    height: 1.4rem;
                    width: 1.4rem;
                    margin-right: 1rem;
                    fill: $color-value-grey-high;

                    transition: fill 0.15s ease-in-out;
                }

                &:hover {
                    color: $color-value-grey-low;
        
                    svg {
                        fill: $color-value-grey-low;
                    }
                }
            }
        }
    }
}

.custom-team-member {

    width: 100%;

    &-body {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // background-color: $color-value-1;
        border-radius: 4px;
        box-shadow: 0 0 10px black;
    }

    &-container, &-container-value-2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        background-color: $color-value-1;
        box-shadow: 0 0 2px black;
        padding: 1rem 1rem;
        // transition: box-shadow 0.25s ease-in-out;
        transition: background-color 0.25s ease-in-out;

        &:hover {
            background-color: $color-value-2;
            box-shadow: 0 0 10px black;
            position: relative;
        }
    }

    &-avatar {
        height: 40px;
        min-width: 40px;
        border-radius: 50%;
        position: relative;
        background-color: $color-value-2;
        // border: solid 2px $color-value-3;

        // box-shadow: 0 0 5px 3px $color-shadow;

        &-img {
            background-size: cover;
            background-position: top center;
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }

    &-name {
        margin: 0 4rem 0 2rem;
        font-size: 1rem;
        color: $color-value-sec;
    }

    &-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        margin-left: auto;

        .custom-button-member {
            margin: 0 1rem;
        }
    }

    &-container-value-2 {
        background-color: $color-value-2;

        &:hover {
            background-color: $color-value-3;
        }
    }

    .custom-icons-cross {
        margin-left: auto;
        // box-shadow: 0 0 10px black;
        // margin-right: 1rem;
    }


}