.custom-dashboard {
    display: flex;
    margin-left: 13rem;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;

    &-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 3rem;
        box-sizing: border-box;
    }

    &-topbar {
        
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        // align-items: center;
        width: 100%;
        position: fixed;
        left: 16rem;

        .custom-input-invisible {
            font-size: 1.25rem;
            font-weight: 600;
            color: $color-value-sec;
            padding: 0 1rem;
            line-height: 2.5rem;
        }

        .custom-input-invisible-ctrl {
            font-size: 1.25rem;
            font-weight: 600;
            position: absolute;
            // display: none;
            visibility: hidden;
        }

        &-title-name {
            font-size: 1.25rem;
            font-weight: 600;
            color: #b3b3b3;
            padding: 0 1rem;
            line-height: 2.5rem;
            color: $color-value-sec;
            border-radius: 2px;
            align-self: center;

            &:hover {
                background-color: $color-value-2;
            }
        }
    
        &-title, &-title-active {
            font-size: 0.9rem;
            font-weight: 500;
            color: $color-value-sec;
            padding: 0 1rem;
            line-height: 2.5rem;
            border-radius: 2px;
            align-self: center;

            background-color: $color-value-3;

            &:hover {
                background-color: $color-value-2;
            }
        }

        &-title-active {

            display: flex;
            flex-direction: row;
            align-items: center;

            text-decoration: none;
            cursor: pointer;

            svg {
                align-self: center;
                height: 1.4rem;
                width: 1.4rem;
                margin-right: 1rem;
                fill: $color-value-sec;
        
                transition: fill 0.15s ease-in-out;
            }
        }

        &-title-add, &-title-delete {
            margin-left: 0.5rem;
            font-size: 0.75rem;
            height: 2rem;
            align-self: center;

            display: flex;
            flex-direction: row;
            align-items: center;

            font-weight: 500;
            color: $color-value-sec;
            padding: 0 1rem;
            border-radius: 2px;

            background-color: transparent;

            text-decoration: none;
            cursor: pointer;

            &:hover {
                background-color: $color-value-3;
            }

            .custom-icons-plus-small {
                margin-right: 0.5rem;
            }
        }

        &-title-delete {
            margin-left: 0;
        }

        &-vertical-ruler {
            width: 2px;
            height: 1.25rem;
            padding: 4px 0;
            margin: 0 1rem;
            // border-left: 2px solid $color-value-grey-low;
            // height: 100%;
            background-color: $color-value-grey-low;
            align-self: center;
        }
    }

    &-body {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        min-width: 100%;
        margin-top: 3.5rem;
    }

    &-column {
        width: 18rem;
        padding: 1rem;
        box-sizing: border-box;

        background-color: $color-value-1;
        border-radius: 4px;
        box-shadow: 0 0 10px $color-shadow;
        margin-right: 1rem;

        &-top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-bottom: 1rem;
            
            .custom-input-invisible {
                font-size: 0.9rem;
                font-weight: 600;
                height: 1.6rem;
                width: 100%;
            }

            &-title {
                font-size: 0.9rem;
                font-weight: 600;
                color: $color-value-sec;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }

        &-task {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            background-color: $color-value-2;
            border-radius: 2px;
            margin-bottom: 0.75rem;
            box-shadow: 0 0 5px $color-shadow;
            transition: all 0.2s ease-in-out;

            cursor: pointer;

            &:last-child {
                margin-bottom: 0;
            }

            &:hover {
                background-color: $color-value-3;
                box-shadow: 0 0 10px $color-shadow;
            }

            &-wrapper {
                width: 100%;
                box-sizing: border-box;
                padding: 0.75rem;
                font-size: 0.75rem;
                font-weight: 400;
                color: $color-value-sec;
            }

            &-create {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                box-sizing: border-box;

                border-radius: 2px;
                
                color: $color-value-sec;
                padding: 0.75rem;
                font-size: 0.75rem;
                font-weight: 400;

                cursor: pointer;

                &:hover {
                    background-color: $color-value-3;
                }

                div {
                    margin-right: 0.5rem;
                }
            }
        }

        &-create {
            min-width: 18rem;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            box-sizing: border-box;

            border-radius: 2px;
            
            color: $color-value-sec;
            padding: 0.75rem;
            font-size: 0.75rem;
            font-weight: 400;

            cursor: pointer;

            &:hover {
                background-color: $color-value-3;
            }

            div {
                margin-right: 0.5rem;
            }
        }
    }
}


.custom-user-dashboards {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, auto));
    grid-gap: 2rem;
    width: 100%;
}

.custom-dashboard-module {

    &-wrapper {

        width: 100%;
        height: 5rem;

        box-sizing: border-box;
        padding: 1rem 1rem 0.5rem 1rem;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

        background-color: $color-value-1;
        border-radius: 4px;
        box-shadow: 0 0 4px $color-shadow;
        cursor: pointer;

        &:hover {
            background-color: $color-value-2;
            box-shadow: 0 0 10px $color-shadow;
        }
    }

    &-name {
        color: $color-value-sec;
        font-size: 0.9rem;
    }

    hr {
        margin-top: auto;
        width: 100%;
        border: none;
        border-bottom: 2px solid $color-main;
    }
}

.custom-task-create {

    min-width: 15rem;
    height: fit-content;
    padding: 1rem 0;

    margin: auto;
    &-title {
        font-weight: 500;
        margin-bottom: 0.5rem;
        color: $color-main;
        font-size: 0.8rem;
        margin-left: 12.4px;
    }

    .custom-form-input-wrapper {
        input {
            width: 100%;
        }
    }

    .custom-select-wrapper {
        margin-top: 1.5rem;
        select {
            width: 100%;
        }
    }

}