.custom-button,
.custom-button-fit, .custom-button-fit-topbar,
.custom-button-8, .custom-button-12, .custom-button-16,
.custom-button-input-square,
.custom-button-member {
    background-color: $color-main;
    height: 3rem;
    width: 100%;

    border: none;
    border-radius: 2px;

    font-family: "Montserrat";
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    font-size: 0.85rem;
    outline: none;

    margin: 0;
    padding: 0;

    box-shadow: 0 -0 8px $color-shadow;

    cursor: pointer;

    &:active {
        // background-color: $color-main;
        box-shadow: 0 0 2px $color-shadow;
    }
}

.custom-button-fit {
    width: fit-content;
    padding: 0 1.75rem;
}

.custom-button-8 {
    width: 8rem;
}

.custom-button-12 {
    width: 12rem;
}

.custom-button-16 {
    width: 16rem;
}


.custom-button-input-square {
    height: 2.5rem;
    // margin-left: 1rem;
}

.custom-button-fit-topbar, .custom-button-member {
    height: 2rem;
    width: fit-content;
    padding: 0 1.75rem;
    font-size: 0.6rem;

    opacity: 0.4;
    transition: opacity 0.2s ease-in-out;

    &:hover {
        opacity: 1;
    }
}