@font-face {
    font-family:'Montserrat';
    src: url('../../static/fonts/Montserrat Light.woff2') format('woff2');
    src: local("Montserrat Light");
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family:'Montserrat';
    src: url('../../static/fonts/Montserrat Regular.woff2') format('woff2');
    src: local("Montserrat Regular");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family:'Montserrat';
    src: url('../../static/fonts/Montserrat Medium.woff2') format('woff2');
    src: local("Montserrat Medium");
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family:'Montserrat';
    src: url('../../static/fonts/Montserrat SemiBold.woff2') format('woff2');
    src: local("Montserrat SemiBold");
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family:'Montserrat';
    src: url('../../static/fonts/Montserrat Bold.woff2') format('woff2');
    src: local("Montserrat Bold");
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Light'), local('OpenSans-Light'),
        url('../../static/fonts/OpenSans-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    // font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
        url('../../static/fonts/OpenSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    // font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
        url('../../static/fonts/OpenSans-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    // font-display: swap;
}


@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
        url('../../static/fonts/OpenSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
        url('../../static/fonts/OpenSans-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    // font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('../../static/fonts/IBMPlexSans-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    // font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('../../static/fonts/IBMPlexSans-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    // font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('../../static/fonts/IBMPlexSans-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    // font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('../../static/fonts/IBMPlexSans.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    // font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('../../static/fonts/IBMPlexSans-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    // font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('../../static/fonts/IBMPlexSans-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    // font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('../../static/fonts/IBMPlexSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    // font-display: swap;
}


