.custom-form {
    z-index: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: fit-content;
    height: fit-content;
    padding: 2rem 2rem 2rem 2rem;

    background-color: $color-value-1;
    border-radius: 4px;
    box-shadow: 0 0 10px $color-shadow;

    &-title {
        font-weight: 400;
        margin-bottom: 2rem;
        color: $color-main;
        font-size: 1.25rem;
    }

    &-info, &-info-done {
        font-size: 0.9rem;
        color: $color-value-sec;
        align-self: flex-start;
        // margin-bottom: 0.25rem;
        text-align: left;
        // margin-bottom: 1.5rem;

        span {
            color: $color-main;
            font-weight: 500;
        }
    }

    &-info {
        margin-bottom: 1.5rem;
    }

    &-error, &-input-info, &-valid {
        position: relative;
        font-size: 0.7rem;
        align-self: flex-start;
        text-align: left;
        margin-bottom: 5px;
        transform: translateY(3px);
    }

    &-error {
        color: $color-error;
    }

    &-input-info {
        color: $color-main;
    }

    &-valid {
        color: $color-valid;
    }

    &-input-wrapper {

        position: relative;
        display: flex;
        flex-direction: column;

        width: 100%;
        margin-bottom: 1.5rem;

        &:last-child {
            margin-bottom: 0;
        }

        label {
            cursor: text;
            position: absolute;
            margin-left: 0.4rem;
            font-size: 0.8rem;
            transform: translateY(12px);
            background: $color-value-1;
            padding: 0 6px;
            align-self: flex-start;
            color: $color-value-sec;
            transition: all 0.25s ease-in-out;

            pointer-events: none;
        }

        input {
            background-color: transparent;
            box-sizing: border-box;
            height: 2.5rem;
            width: 100%;
            font-size: 0.8rem;
            border: 1px solid $color-value-grey-low;
            border-radius: 2px;
            padding: 0 0.6rem;
            outline: none;
            color: $color-value-sec;
            caret-color: $color-value-grey-low;

            font-family: "Montserrat", "Roboto", "Segoe UI", "Ubuntu", "Fira Sans", "Helvetica Neue", sans-serif;
    
            &:hover {
                border-color:  $color-value-grey-high;
            }
    
            &:focus {
                border: 1px solid $color-main;
            }
    
            &:focus + label,
            &:valid + label {
                transform: translateY(-60%);
                font-weight: 500;
                color: $color-main;
            }

            &:-webkit-autofill,
            &:-webkit-autofill:hover, 
            &:-webkit-autofill:focus
            &:-webkit-autofill {
                box-shadow: inset 0 0 0 50px $color-value-1;
                -webkit-box-shadow: inset 0 0 0 50px $color-value-1;
                -webkit-text-fill-color: $color-value-sec;
            }
        }
    }

    &-checkbox-wrapper {

        position: relative;
        display: flex;
        flex-direction: row;
        align-self: flex-start;
        justify-content: flex-start;
        align-items: center;

        width: 100%;

        margin: 0.75rem 0 0.5rem 0;
        top: -1rem;
        
        input[type="checkbox"] {
            // -webkit-appearance: none;
            height: 1rem;
            width: 1rem;
            // border: 1px solid #722bb1;
            padding-left: 0.3rem;
            // outline: none;

            // transition: box-shadow .2s;
        }

        // input[type="checkbox"]:hover {
        //     border: 1px solid #8945e2;
        // }

        // input[type="checkbox"]:focus {
        //     box-shadow: 0 0 0 2px rgba(39, 94, 254, .25);
        // }

        // input[type="checkbox"]:checked {
        //     background-color: #421280;
        // }

        label {
            margin-left: 0.5rem;
            font-size: 0.8rem;
            color: $color-value-sec;
        }

    }

    hr {
        // color: #777;
        margin-top: 1.25rem;
        width: 100%;
        border: none;
        border-bottom: 1px solid $color-value-grey-low;
    }

    .custom-link {
        margin-top: 0.5rem;
        font-size: 0.8rem;
    }
}

.custom-form-settings {
    width: 70%;
    // display: flex;
    // flex-direction: row;
}