.custom-icons {
    &-cross, &-upload, &-check, &-plus,
    &-cross-simple {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: #7f51ec;
        // box-shadow: 0 0 10px black;
        box-shadow: 0 0 10px black;
        transition: opacity 0.2s ease-in-out;
        cursor: pointer;
        opacity: 0.4;
    
        &:hover {
            opacity: 1;
        }
    }
    
    &-cross:hover, &-cross-simple:hover {
        opacity: 1;
    }
    
    &-cross:after, &-cross:before,
    &-cross-simple:after, &-cross-simple:before {
        position: absolute;
        content: ' ';
        height: 16px;
        width: 2px;
        background-color: #fff;
    }
    
    &-cross:before,
    &-cross-simple:before {
        transform: rotate(45deg);
    }
    &-cross:after,
    &-cross-simple:after {
        transform: rotate(-45deg);
    }

    &-plus:after, &-plus:before {
        position: absolute;
        content: ' ';
        height: 16px;
        width: 2px;
        background-color: #fff;
    }

    &-plus:before {
        transform: rotate(90deg);
    }

    &-plus-small {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 12px;
        height: 12px;
        // background-color: #7f51ec;
        // opacity: 0.4;
    
        &:hover {
            opacity: 1;
        }
    }

    &-plus-small:after, &-plus-small:before {
        position: absolute;
        content: ' ';
        height: 12px;
        width: 2px;
        background-color: $color-value-sec;
    }

    &-plus-small:before {
        transform: rotate(90deg);
    }

    &-cross-simple {
        background-color: transparent;
        box-shadow: none;
    }
}