.custom-input-invisible {

    background-color: transparent;
    height: 2.5rem;
    // width: 100%;
    font-weight: 600;
    color: $color-value-sec;
    font-size: 0.8rem;
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 0 0.6rem;
    outline: none;

    font-family: "Montserrat", "Roboto", "Segoe UI", "Ubuntu", "Fira Sans", "Helvetica Neue", sans-serif;

    cursor: pointer;

    &:hover {
        background-color: $color-value-3;
    }

    &:focus {
        border: 1px solid $color-main;
        background-color: transparent;
        cursor: text;
    }

    &:focus + label,
    &:valid + label {
        transform: translateY(-60%);
        font-weight: 500;
        color: $color-main;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover, 
    &:-webkit-autofill:focus
    &:-webkit-autofill {
        box-shadow: inset 0 0 0 50px $color-value-1;
        -webkit-box-shadow: inset 0 0 0 50px $color-value-1;
        -webkit-text-fill-color: $color-value-sec;
    }
}

.custom-textarea {
    &-wrapper {
        margin-bottom: 1.5rem;

        textarea {

            background-color: transparent;
            box-sizing: border-box;

            width: 100%;
            min-height: 7rem;
            font-size: 0.8rem;
            border: 1px solid $color-value-grey-low;
            border-radius: 2px;
            padding: 0.6rem;
            outline: none;
            color: $color-value-sec;
            caret-color: $color-value-grey-low;

            font-family: "Montserrat", "Roboto", "Segoe UI", "Ubuntu", "Fira Sans", "Helvetica Neue", sans-serif;

            &:hover {
                border-color:  $color-value-grey-high;
            }

            &:focus {
                border: 1px solid $color-main;
            }

            &:focus + label,
            &:valid + label {
                transform: translateY(-60%);
                font-weight: 500;
                color: $color-main;
            }
        }
    }
}

.custom-select {

    &-wrapper {

        display: flex;
        flex-direction: column;
        margin-bottom: 1.5rem;


        // label {
            // cursor: text;
            // position: absolute;
            // margin-left: 0.4rem;
            // font-size: 0.8rem;
            // transform: translateY(12px);
            // background: $color-value-1;
            // padding: 0 6px;
            // align-self: flex-start;
            // color: $color-value-sec;
            // transition: all 0.25s ease-in-out;

            // pointer-events: none;
        //     font-weight: 500;
        //     margin-bottom: 0.5rem;
        //     color: #7f51ec;
        //     font-size: 0.8rem;
        //     margin-left: 12.4px;
        // }

        select {
            border: 1px solid transparent;
            background-color: $color-value-2;
            height: 2rem;
            // width: 100%;
            font-weight: 600;
            color: $color-value-sec;
            font-size: 0.8rem;
            border-bottom: 1px solid $color-value-grey-low;
            // border-radius: 2px;
            padding: 0 0.6rem;
            outline: none;

            font-family: "Montserrat", "Roboto", "Segoe UI", "Ubuntu", "Fira Sans", "Helvetica Neue", sans-serif;

            cursor: pointer;

            &:hover, &:focus {
                border: 1px solid $color-main;
                background-color: $color-value-3;
            }

            // &:focus {
            //     border: 1px solid $color-main;
            //     background-color: transparent;
            //     cursor: text;
            // }

            // &:focus + label,
            // &:valid + label {
            //     transform: translateY(-60%);
            //     font-weight: 500;
            //     color: $color-main;
            // }

            // &:-webkit-autofill,
            // &:-webkit-autofill:hover, 
            // &:-webkit-autofill:focus
            // &:-webkit-autofill {
            //     box-shadow: inset 0 0 0 50px $color-value-1;
            //     -webkit-box-shadow: inset 0 0 0 50px $color-value-1;
            //     -webkit-text-fill-color: $color-value-sec;
            // }

            option {
                background-color: $color-value-3;
                color: $color-value-sec;
            }
        }
    }
}