// $color-main: #7f51ec;
// $color-add: #5e33c1;
// $color-shadow: rgba(126, 126, 126, 0.5);
// $color-grey: #7e7e7e;
// $color-grey-hover: #4e4e4e;
// $color-background: #f9f9fb;
// $color-error: #FF2C55;
// $color-valid: #1cb900;
// $color-text: #2e2e2e;
// $color-white: #fff;

$color-main: #7f51ec;
$color-add: #5e33c1;
$color-shadow: rgb(0, 0, 0);
$color-grey: #7e7e7e;
$color-grey-hover: #4e4e4e;
$color-value-main: #121212;
$color-error: #FF2C55;
$color-yellow: #ffb62f;
$color-valid: #1cb900;
$color-text: #2e2e2e;
$color-value-1: rgb(29, 29, 29);
$color-value-2: rgb(35, 35, 35);
$color-value-3: rgb(42, 42, 42);
$color-value-4: rgb(48, 48, 48);
$color-value-5: rgb(55, 55, 55);
$color-value-sec: rgb(179, 179, 179);
$color-value-grey-high: rgb(140, 140, 140);
$color-value-grey-low: rgb(100, 100, 100);



// #722bb1

// #8A62F0
// #1A1821
// #454242
// #E2294F
// #FF2C55
// #F7DAD9
// #F26A8D