.custom-modal-window {

    width: 100vw;
    height: 100vh;
    z-index: 100;

    top: 0;
    left: 0;

    position: fixed;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.4);
    // opacity: 0.4;

    .custom-form {
        width: 20rem;
        z-index: 101;
    }

    &-body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        width: fit-content;
        height: fit-content;
        padding: 1.5rem;

        background-color: $color-value-1;
        border-radius: 4px;
        box-shadow: 0 0 10px $color-shadow;
        max-height: 80%;
    }

    &-title {
        font-weight: 400;
        margin-bottom: 2rem;
        color: $color-main;
        font-size: 1.25rem;
    }

    &-content {
        width: 100%;
        height: 100%;

        position: relative;
        overflow: auto;
    }
}