@mixin sidebar-link {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    text-decoration: none;
    color: $color-grey;
    cursor: pointer;

    // font-family: "IBM Plex Sans";
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8rem;

    width: 100%;
    margin-bottom: 2.5rem;

    padding-left: 1.5rem;

    transition: color 0.15s ease-in-out;

    svg {
        height: 1.4rem;
        width: 1.4rem;
        margin-right: 1rem;
        fill: $color-grey;

        transition: fill 0.15s ease-in-out;
    }
}

.custom-dropdown-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    // box-sizing: border-box;
    // padding: 3rem 0 2rem 1.5rem;

    // position: fixed;
    // min-width: 13rem;
    // width: min-content;
    // height: min-content;
    // background-color: #fff;
    // box-shadow: 0 0 10px $color-shadow;

    // font-family: "IBM Plex Sans";

    &-user {

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        // margin-bottom: 7rem;

        // padding: 3rem 0 0rem 1.5rem;

        // width: 100%;

        &-avatar {
            // box-sizing: border-box;
            min-width: 2rem;
            min-height: 2rem;
            background-size: cover;
            border-radius: 50%;
            background-position: top center;
            border: solid 1.5px #fff;
            box-shadow: 0 0 6px $color-shadow;

            cursor: pointer;
        }
    }

    &-window {
        position: relative;
    }

    &-link {
        @include sidebar-link;

        &:hover {
            color: $color-grey-hover;

            svg {
                fill: $color-grey-hover;
            }
        }

        &-active {
            @include sidebar-link;
            color: $color-main;

            svg {
                fill: $color-main;
            }

            &:after {
                content: "";
                position: absolute;
                right: 0;
                width: 3px;
                height: 1.75rem;
                background-color: $color-main;
                border-radius: 2px 0 0 2px;
            }
        }
    }
}