.custom-registration {

    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .custom-form {
        width: 20rem;

        &-input-wrapper {
            .custom-tooltip {
                left: 23rem;
            }
        }
    }
}