.custom-tooltip {

    display: flex;
    // flex-direction: row;
    align-items: center;
    justify-content: center;

    width: max-content;

    position: relative;
    // top: 0.75rem;
    // left: 20rem;
    // padding: 0.25rem;
    font-size: 0.7rem;
    // margin-left: 0.25rem;

    // background-color: #fff;
    // box-shadow: 0 0 3px #353535;
    
    // color: white;

    &-triangle-left {
        width: 0; 
        height: 0; 
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent; 
        
        border-right:8px solid #7f51ec; 
        // box-shadow: 0 0 3px #353535;

    }

    &-container {

        position: absolute;

        top: 3rem;
        right: 0;

        padding: 0.75rem;
        background-color: $color-value-1;
        border-radius: 2px;
        box-shadow: 0 0 10px $color-shadow;

        color: $color-main;
    }
}