.custom-user-subdivisions {
    display: flex;
    margin-left: 13rem;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;

    &-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        padding: 3rem;
    }

    &-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(14rem, auto));
        grid-gap: 2rem;
        width: 100%;
    }

    &-topbar {
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        margin-bottom: 2.5rem;
    
        &-title {
            font-size: 1.75rem;
            font-weight: 600;
            color: $color-value-sec;
        }

        .custom-icons-plus {
            margin-right: 1rem;
        }
    }

    &-block {
        width: 100%;
    }

    &-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        background-color: $color-value-1;
        border-radius: 4px;
        box-shadow: 0 0 10px $color-shadow;
        box-sizing: border-box;

        padding: 2rem;

        &-title {
            font-weight: 400;
            margin-bottom: 0.5rem;
            color: $color-main;
            font-size: 1.25rem;

            text-decoration: none;
        }

        hr {
            margin-bottom: 1rem;
            width: 100%;
            border: none;
            border-bottom: 1px solid $color-value-grey-low;
        }

        &-body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            width: 100%;
            margin-top: 0.5rem;

            &-link {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;

                text-decoration: none;
                color: $color-value-grey-high;
                cursor: pointer;

                font-weight: 600;
                font-size: 0.8rem;
                width: 100%;
                margin-bottom: 1rem;

                transition: color 0.15s ease-in-out;

                &:last-child {
                    margin-bottom: 0;
                }

                svg {
                    height: 1.4rem;
                    width: 1.4rem;
                    margin-right: 1rem;
                    fill: $color-value-grey-high;

                    transition: fill 0.15s ease-in-out;
                }

                &:hover {
                    color: $color-value-grey-low;
        
                    svg {
                        fill: $color-value-grey-low;
                    }
                }
            }
        }
    }
}