.custom-user-home {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 100%;
    width: 100%;

    // &-main {
    //     height: 100%;
    //     background-color: transparent;
    // }
}