.custom-reset {

    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .custom-form {
        width: 20rem;
    }
}