.custom-login {

    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .custom-form {
        width: 17rem;

        &-links {
            width: 90%;
            display: flex;
            justify-content: space-between;
        }
    }
}