// @mixin flex-row-center {
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     align-items: center;
// }

.custom-user-settings {
    display: flex;
    margin-left: 13rem;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;

    &-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        padding: 3rem;
    }

    &-topbar {
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        margin-bottom: 2.5rem;
    
        &-title {
            font-size: 1.75rem;
            font-weight: 600;
            color: $color-value-sec;
        }
    }

    &-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: $color-value-1;
        border-radius: 4px;
        box-shadow: 0 0 10px $color-shadow;

        &-row {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            margin-bottom: 2rem;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &-col {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            height: 100%;

            margin-right: 3rem;

            &:last-child {
                margin-right: 0;
            }
        }

        &-main {
            width: 50%;

            display: flex;
            flex-direction: column;
            padding: 3rem;
            align-items: center;

            &-title {

                font-weight: 400;
                margin-bottom: 2rem;
                color: $color-main;
                font-size: 1.25rem;
                align-self: flex-start;
            }

            &-avatar {
                height: 120px;
                width: 120px;
                border-radius: 50%;
                position: relative;
                background-color: $color-value-2;
                border: solid 4px $color-value-2;

                margin-bottom: 3rem;

                box-shadow: 0 0 10px $color-shadow;

                &-overlay {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 100%;
                    width: 100%;

                    &:hover {
                        opacity: 1;
                    }
                }

                &:hover &-overlay {
                    visibility: visible;
                }

                &:hover &-cross, &:hover &-upload, &:hover &-check {
                    visibility: visible;
                }

                &-img {
                    background-size: cover;
                    background-position: top center;
                    width: 100%;
                    height: 100%;
                    transition: all 0.2s ease-in-out;
                    border-radius: 50%;
                }

                &-cross, &-upload, &-check {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    right: 0;
                    width: 32px;
                    height: 32px;
                    opacity: 0.4;
                    visibility: hidden;
                    border-radius: 50%;
                    background-color: $color-main;
                    box-shadow: 0 0 10px $color-shadow;
                    transition: opacity 0.2s ease-in-out;
                    cursor: pointer;

                    &:hover {
                        opacity: 1;
                    }
                }

                &-cross:hover {
                    opacity: 1;
                }

                &-cross:after, &-cross:before {
                    position: absolute;
                    content: ' ';
                    height: 16px;
                    width: 2px;
                    background-color: #fff;
                }
                
                &-cross:before {
                    transform: rotate(45deg);
                }
                &-cross:after {
                    transform: rotate(-45deg);
                }

                &-upload {
                    bottom: 0;

                    input {
                        display: none;
                    }

                    label {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                    }

                    label svg {
                        width: 20px;
                        height: 20px;
                        fill: #fff;
                    }
                }

                &-cross {
                    top: 0;
                }

                &-check {
                    bottom: 0;
                }

                &-check:after, &-check:before {
                    position: absolute;
                    content: ' ';
                    width: 3px;
                    background-color: #fff;
                }

                &-check:before {
                    height: 16px;
                    transform-origin: bottom;
                    transform: translateX(-4px) translateY(-2px) rotate(45deg);
                }
                &-check:after {
                    height: 8px;
                    transform-origin: bottom;
                    transform: translateX(-2px) translateY(2px) rotate(-45deg);
                }
            }

            hr {
                margin: 3rem 0;
                width: 100%;
                border: none;
                border-bottom: 1px solid $color-value-grey-low;
            }
        }

        &-add {
            margin-left: 2rem;
            width: calc(30%-2rem);
        }
    }
}

.custom-image-upload-container {
    input {
        display: none;
    }
}

// .custom-form-settings {
//     width: 70%;
// }