@import "../src/common/styles/fonts.scss";
@import "../src/common/styles/variables.scss";

body {
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
  font-family: "Montserrat", "Roboto", "Segoe UI", "Ubuntu", "Fira Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import "App.scss";
@import "../src/common/styles/link.scss";
@import "../src/common/styles/form.scss";
@import "../src/common/modules/tooltip/tooltip.scss";
@import "../src/common/modules/sidebar/sidebar.scss";
@import "../src/common/modules/dropdown-menu/dropdown-menu.scss";
@import "../src/common/styles/button.scss";
@import "../src/common/styles/icons.scss";
@import "../src/common/modules/modal-window/modal-window.scss";
@import "../src/common/styles/input.scss";

@import "./pages/registration-form/registration-form.scss";
@import "./pages/login-form/login-form.scss";
@import "./pages/forgot-password/recover.scss";
@import "./pages/reset-password/reset.scss";
@import "./pages/user/user-home.scss";
@import "./pages/user/settings/user-settings.scss";
@import "./pages/user/subdivisions/user-subdivisions.scss";
@import "pages/team/team.scss";
@import "./pages/user/tasks/tasks.scss";
@import "./pages/dashboard/dashboard.scss";
@import "./pages//dashboard-task/dashboard-task.scss";