@mixin label {
    padding: 4px 0;
    text-align: center;
    font-weight: 400;
    width: 6rem;
    color: white;
    font-size: 0.8rem;
}

.custom-tasks {

    &-status, &-status-created,
    &-status-executed, &-status-marked {
        height: 1rem;
        width: 1rem;

        box-shadow: 0 0 5px $color-shadow;
        border-radius: 2px;
    }

    &-status-created {
        background-color: $color-error;
        @include label;
    }

    &-status-executed {
        background-color: $color-yellow;
        @include label;
    }

    &-status-marked {
        background-color: $color-valid;
        @include label;
    }

    &-link {
        color: $color-value-sec;
    }

    &-deadline {
        @include label;
        margin-left: auto;
        width: fit-content;
        background-color: $color-main;
        width: 7.5rem;
    }
}