.custom-dashboard-task {

    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    .custom-modal-window {
        position: relative;
        min-height: 100%;
        height: unset;
        padding: 3rem 0;
        box-sizing: border-box;

        .custom-modal-window-body {
            width: 60vw;
            max-width: 40rem;
            max-height: none;
        }
    }

    &-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &-title {
        margin-bottom: 1.75rem;
    }

    &-body {
        width: 100%;
        display: flex;
        flex-direction: row;

        &-col-1 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-right: 0.75rem;
            padding-left: 1rem;
            width: 100%;

            // flex-grow: 3;

            box-sizing: border-box;

            &-top {
                margin-bottom: 1.75rem;
                display: flex;
                flex-direction: row;
                align-items: flex-start;

                // justify-content: space-between;
                // width: 100%;
                &-executor {

                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    margin-right: 4rem;
                    height: 100%;

                    &-content {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        color: $color-value-sec;
                        height: 100%;
                        // padding: 0.6rem 0;
                        // border-radius: 2px;
                        // background-color: $color-value-2;
                        // box-shadow: 0 0 5px $color-shadow;

                        span {
                            font-size: 0.8rem;
                            margin-left: 0.5rem;
                            color: $color-value-sec;
                        }

                        .custom-sidebar-user-avatar {
                            min-width: 1.5rem;
                            min-height: 1.5rem;
                        }

                        .custom-select-wrapper {

                            margin-bottom: 0;
                        }
                    }
                }

                &-deadline {

                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    height: 100%;

                    &-content {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        &-time {
                            padding: 4px 0;
                            text-align: center;
                            border-radius: 2px;
                            font-weight: 400;
                            color: white;
                            font-size: 0.8rem;
                            margin-left: auto;
                            background-color: $color-main;
                            width: 7.5rem;
                        }
                    }
                }
            }

            .custom-textarea-wrapper {
                width: 100%;

                textarea {
                    max-width: 100%;
                    min-height: 1rem;
                    resize: none;
                }
            }
        }

        &-col-2 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-left: 0.75rem;
            // flex-grow: 1;
            width: 33%;


            box-sizing: border-box;
        }

        &-description {
            background-color: transparent;
            box-sizing: border-box;

            width: 100%;
            // min-height: 7rem;
            font-size: 0.8rem;
            border-radius: 2px;
            padding: 0.6rem;
            color: $color-value-sec;
            caret-color: $color-value-grey-low;
            background-color: $color-value-2;
            box-shadow: 0 0 5px $color-shadow;

            font-family: "Montserrat", "Roboto", "Segoe UI", "Ubuntu", "Fira Sans", "Helvetica Neue", sans-serif;

            &:hover {
                border-color:  $color-value-grey-high;
            }
        }
    }

    &-section-title {
        font-weight: 500;
        margin-bottom: 0.75rem;
        color: $color-main;
        font-size: 0.95rem;
    }

    &-comment {
        
        margin: 1rem 0 2rem 0;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        &-create-wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            width: 100%;

            .custom-button-8 {
                height: 2rem;
                font-size: 0.65rem;
                margin-left: 3rem;
                margin-top: 0.5rem;
            }
        }
        &-create {
            display: flex;
            flex-direction: row;
            align-items: flex-start;

            width: 100%;

            .custom-dashboard-task-comment-user {
                margin-right: 1rem;
            }
            
            .custom-textarea-wrapper {
                min-height: 2rem;
                margin-bottom: 0;
            }
        }

        &-user {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            &-name {
                font-size: 0.8rem;
                font-weight: 600;
                margin-left: 1rem;
                color: $color-value-sec;

                // margin-right: 1rem;
            }
        }

        &-date {
            font-size: 0.75rem;
            font-weight: 400;
            margin-left: auto;
            color: $color-value-sec;
        }

        &-container {
            width: 100%;
        }
        
        &-body {
            font-size: 0.8rem;
            font-weight: 400;
            margin-top: 0.25rem;
            margin-left: 3rem;
            color: $color-value-sec;

            border-radius: 2px;
            padding: 0.6rem;
            background-color: $color-value-2;
            box-shadow: 0 0 5px $color-shadow;
        }
    }
}

.custom-input-invisible-ctrl {
    font-size: 1.25rem;
    font-weight: 600;
    position: absolute;
    visibility: hidden;
}

.custom-input-invisible {
    font-size: 1.25rem;
    font-weight: 600;
    color: $color-value-sec;
    padding: 0 1rem;
    line-height: 2.5rem;
}